<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create Article</title>
</head>
<body>
  <form action="{{route('news.createArticleData')}}" method="POST">
    {{ csrfField() }}
    <input type="text" name="title" id="title" placeholder="Article Title">
    @if(flashMessages.has('errors.title'))
      <p> {{ flashMessages.get('errors.title') }} </p>
    @end
    <input type="file" name="image" id="image">
    @if(flashMessages.has('errors.image'))
      <p> {{ flashMessages.get('errors.image') }} </p>
    @end
    <textarea name="content" id="content" cols="30" rows="10" placeholder="Article Content"></textarea>
    @if(flashMessages.has('errors.content'))
      <p> {{ flashMessages.get('errors.content') }} </p>
    @end
    <input type="submit" value="Submit">
  </form>
</body>
</html>